
.card{
  width: max-content;
  margin-bottom: 5px;
}

 .card-body {
  display: flex;
  padding-bottom: 0px;
 
}

 .card-text{
    padding-left: 5em;
    padding-right: 5em;
    font-weight: 600;
    font-size: 12px;
}

.arln-logo, .multiairline {
width: 30px;
height: 30px;
display: block;
}
.airways-name {
font-family: Lato-Medium,Arial,Helvetica,sans-serif;
font-size: 12px;
padding-left: 10px;

}


